<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
  {% if user_name or user_email  %}
    Tawk_API.visitor = {
    {% if user_name %}name  : "{{ user_name }}"{% endif %}
    {% if user_email %},email : "{{ user_email }}"{% endif %}
    {% if is_secure %},hash: "{{ hash }}"{% endif %}
    };
  {% endif %}

  (function () {
    var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = 'https://embed.tawk.to/{{ id_site }}/{{ widget_id }}';
    s1.charset = 'UTF-8';
    s1.setAttribute('crossorigin', '*');
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
<!--End of Tawk.to Script-->
